*.pyc
.DS_Store
.idea/*
*.pickle
__pycache__/*
*.pkl
*.npy
*.gz
*.mat
*.bmp
*.pt
*.pdf
MultiDCP/output/*
MultiDCP/data/*
graphs/*
*history_log*
*wandb*
*AMPAD_data*
MultiDCP/website/test_put.py
MultiDCP/website/uploads/06212022_signature_test_cell_4_small.csv
