{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Contact us</h1>

<div>
    
    <h1><a class="nav-link" href="https://www.gc.cuny.edu/people/lei-xie">Dr. Lei Xie</a></h1>
    <h4><a class="nav-link" href="http://compsci.hunter.cuny.edu/~leixie/">Lab website</a></h4>
    <h4><a class="nav-link" href="https://github.com/XieResearchGroup/MultiDCP">Lab Github</a></h4>
    CONTACT <br>
    +1 212-396-6650<br>
    lei.xie@hunter.cuny.edu<br>
   
    AFFILIATED CAMPUSES<br>
    Department of Computer Science<br>
    Hunter College, the City University of New York<br>
    1008N, 695 Park Avenue<br>
    New York, NY 10065<br>
    <br>
    Brain&Mind Research Institue<br>
    Weill Cornell Medicine, Cornell University<br>
    BB912, 413 E 69th Street<br>
    New York, NY 10021<br>
</div>
{% endblock %}

