{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>MultiDCP</h1>
MultiDCP is multi-tasks transfer learning based model. It is desiged to perform multiple tasks including dose-dependent chemical-induced differential gene expression predictions (chemical transcriptomics) and cell viability predictions for de novo drugs and de novo cell lines.

<div class="login">
    
    <h1>Upload Test File</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="sig_file"> — Signature File</p>
        <p><input type="file" name="basal_ge_file"> — Disease State (Basal Gene Expression)</p>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>

<a class="nav-link" href="results/results_df_072422.csv">Download Results from 07/24/2022</a>
<a class="nav-link" href="rank/results_df_072422.csv">Calculate Results from 07/24/2022</a>
<a class="nav-link" href="table/results_df_072422.csv">Display Table of Results from 07/24/2022</a>

{{ content_insert }}
{% endblock %}

